html {
	--base: hsl(var(--base-hsl));
	--alternate: hsl(var(--alternate-hsl));
}

:root {
	color-scheme: dark;
	--main-hue: 220;

	--base-hsl: var(--main-hue), 20%, 20%;
	--bg-light: var(--main-hue), 20%, 5%;
	--alternate-hsl: var(--main-hue), 100%, 83%;
}

html {
	background: hsl(var(--bg-light));
	color: white;
}

body {
	font-family: Inter, sans-serif;
}

#app {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	justify-content: flex-start;
	align-items: center;
}

a {
	color: var(--alternate);
}
