html {
	--main-hue: 220;
	--base-hsl: var(--main-hue), 20%, 5%;

	background: hsl(var(--base-hsl));
	color: white;
}
body {
	font-family: Inter, sans-serif;
}
#app {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	justify-content: flex-start;
	align-items: center;
}

a {
	color: hsl(var(--main-hue), 100%, 83%);
}